node_modules/
dist/
.env
.DS_Store
client/node_modules/
client/dist/
scratch/
mcaddon/KiwEssentials/
mcaddon/*.mcpack
mcaddon/*.zip
mcaddon/*.mcaddon
KiwEssentials/
KiwBP/
KiwRP/
releases/
*.mcpack
*.zip
*.mcaddon
